@use '@angular/material' as mat;

.filter-wrapper {
  display: flex;
  gap: 5px;
  justify-content: start;
  .search-filter {
    & .search-box::placeholder {
      font-size: 13px;
    }

    realsoft-form-field {
      width: 320px;
    }
    @include mat.form-field-density(-4);
  }
}

.filter-container {
  padding: 20px 15px;
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 5px;

  //   min-width: 350px;
  @include mat.form-field-density(-5);

  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid grey;
    h6 {
      align-self: center;
      flex: 1;
      font-size: 16px;
      font-weight: bold;
      color: var(--sys-primary);
    }

    mat-icon {
      color: var(--sys-primary);
    }
  }

  &__content {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 5px;
  }

  &__item {
    flex: 1;
  }

  &__actions {
    padding: 10px 15px;
    display: flex;
    flex-direction: row-reverse;
    gap: 5px;
    @include mat.button-density(-2);
  }
}

::ng-deep {
  .mat-mdc-menu-panel.filter-menu {
    min-width: 300px;
  }
}

.has-value::before{
  content: "";
  width: 9px;
  height: 9px;
  position: absolute;
  right: 1px;
  border-radius: 50%;
  z-index: 6;
  background: green;
  border: 1px solid #fff;
}

.primary {
  color: var(--sys-primary);
}
