<div class="filter-wrapper mt-2 mb-2">
    <div class="search-filter">
     @if (searchControl) {
        <realsoft-form-field>
            <span class="material-icons" realsoftIconPrefix>search</span>
            <input
              class="search-box"
              [formControl]="searchControl"
              realsoftInput
              [placeholder]="'shared.searchPlaceHolder' | translate"
            />
          </realsoft-form-field>
     }
    </div>

    @if(!onlySearch()){
        <button realsoft-icon-button [realsoftMenuTriggerFor]="filterMenu">
            <span class="material-icons primary" [ngClass]="{'has-value': activeFilter}">filter_alt</span>
        </button>
    }

    <realsoft-menu
      #filterMenu="realsoftMenu"
      [xPosition]="xPosition()"
      [yPosition]="yPosition()"
      class="filter-menu"
    >
      <div class="filter-container">
        <div class="filter-container__header">
          <h6 (click)="$event.stopPropagation()">
            <ng-content select="[app-filter-title]"></ng-content>
          </h6>
          <button matTooltip="{{ 'shared.dialog.close' | translate }}" realsoft-icon-button>
            <span class="material-icons">close</span>
          </button>
        </div>
  
        <div (click)="$event.stopPropagation()" class="filter-container__content">
          <ng-content select="[app-filter-content]"></ng-content>
        </div>
      </div>
  
      <div class="filter-container__actions">
        <button (click)="applyFilter()" realsoft-flat-button class="primary-button">
          {{ 'shared.misc.apply' | translate }}
        </button>
        <button (click)="clearFilter()" realsoft-stroked-button class="primary-stroked-button">
          {{ 'shared.misc.clear' | translate }}
        </button>
      </div>
    </realsoft-menu>
  </div>
  