@import '_variables.scss';

.user-profile {
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 0 8px;
    cursor: pointer;

    &__info {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    .user-name {
        font-size: 14px;
        color: $text-color;
        font-weight: 500;
        margin: 0 4px;
        white-space: nowrap;
        max-width: 120px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .user-avatar {
        width: 34px;
        height: 34px;
        border-radius: 50%;
        object-fit: cover;
        border: 2px solid $separator-color;
    }
}