<div class="user-profile" [realsoftMenuTriggerFor]="profileMenu">
    <div class="user-profile__info">
        <img class="user-avatar" [src]="currentUser()?.profilePicture ?? 'assets/images/user.png'" alt="User Avatar" />
        <span class="user-name" [realsoftTooltip]="currentUser()?.name || ''">{{ currentUser()?.name }}</span>
    </div>
    <span class="material-icons">arrow_drop_down</span>
</div>

<realsoft-menu #profileMenu="realsoftMenu">
    <button realsoft-menu-item [routerLink]="['/main/profile']">
        <span class="material-icons">account_circle</span>
        <span>{{ 'pages.layout.header.userControlPanel.userProfile' | translate }}</span>
    </button>
    <button realsoft-menu-item (click)="logout()">
        <span class="material-icons">logout</span>
        <span>{{ 'pages.layout.header.userControlPanel.logout' | translate }}</span>
    </button>
</realsoft-menu>