.dialog-wrapper {
  padding-top: 10px;

  &__title {
    padding-bottom: 10px;
    border-bottom: 2px solid #ddd;
    font-weight: 600;

    display: flex;
    gap: 10px;
    align-items: center;
    padding: 10px 5px;
  }

  &__content {
    margin-top: 20px;
    margin-bottom: 10px;
  }
}