<div [dir]="direction" class="dialog-wrapper">
  <h2 class="dialog-wrapper__title" mat-dialog-title>
    <ng-content select="[app-dialog-title]"></ng-content>
  </h2>
  <mat-dialog-content class="dialog-wrapper__content">
    <ng-content select="[app-dialog-content]"></ng-content>
  </mat-dialog-content>
  <mat-dialog-actions class="dialog-wrapper__actions">
    <button mat-button mat-dialog-close>
      {{ 'shared.dialog.close' | translate }}
    </button>
    <ng-content select="[app-dialog-actions]"></ng-content>
  </mat-dialog-actions>
</div>
