<app-inner-card [title]="'pages.layout.sidenav.preachingCard.title'">
    <ng-container inner-card-content>
        <ul class="list">
            <li>
                <span class="material-icons">mosque</span>
                <span>{{ user()?.preachingCard?.numberOfMosques }} {{ 'pages.layout.sidenav.preachingCard.mosques' |
                    translate
                    }}</span>
            </li>

            <li>
                <span class="material-icons">description</span>
                <span>{{ user()?.preachingCard?.numberOfSermons }} {{ 'pages.layout.sidenav.preachingCard.sermons' |
                    translate
                    }}</span>
            </li>

            <li>
                <span class="material-icons">groups</span>
                <span>{{ user()?.preachingCard?.numberOfListeners }} {{ 'pages.layout.sidenav.preachingCard.listeners' |
                    translate
                    }}</span>
            </li>

            <li>
                <span class="material-icons">local_offer</span>
                <span>{{ user()?.preachingCard?.tags }}</span>
            </li>
        </ul>
    </ng-container>
</app-inner-card>