<!-- <div [dir]="direction" class="dialog-wrapper">
  <h2 class="dialog-wrapper__title" mat-dialog-title>
    <mat-icon>warning</mat-icon>
    <span>{{ data.title ?? 'shared.dialog.warning.title' | translate }}</span>
  </h2>
  <mat-dialog-content class="dialog-wrapper__content">
    {{ data.description ?? 'shared.dialog.warning.desc' | translate }}
  </mat-dialog-content>
  <mat-dialog-actions class="dialog-wrapper__actions">
    <button mat-button (click)="dialogRef.close(false)">
      {{ 'shared.dialog.close' | translate }}
    </button>
    <button mat-button cdkFocusInitial (click)="dialogRef.close(true)">
      {{ 'shared.dialog.confirm' | translate }}
    </button>
  </mat-dialog-actions>
</div> -->

<app-dialog-wrapper>
  <ng-container app-dialog-title>
    <mat-icon class="warning-icon">warning</mat-icon>
    <span>{{ data.title ?? 'shared.dialog.warning.title' | translate }}</span>
  </ng-container>

  <ng-container app-dialog-content>
    {{ data.description ?? 'shared.dialog.warning.desc' | translate }}
  </ng-container>

  <ng-container app-dialog-actions>
    <button mat-button cdkFocusInitial (click)="dialogRef.close(true)">
      {{ 'shared.dialog.confirm' | translate }}
    </button>
  </ng-container>
</app-dialog-wrapper>