<app-inner-card [title]="'pages.dashboard.mosque.title'">
    <ng-container inner-card-content>
        <ul class="list">
            <li>
                <span class="material-icons">mosque</span>
                <span>{{ mosqueInfo().name }}</span>
            </li>

            <li>
                <span class="material-icons">groups</span>
                <span>{{ 'pages.dashboard.mosque.capacity' |
                    translate: { capacity: mosqueInfo().capacity }
                    }}</span>
            </li>

            <li>
                <span class="material-icons">description</span>
                <span>{{ mosqueInfo().openedSince }}</span>
            </li>

            <li>
                <span class="material-icons">local_offer</span>
                <span>{{ mosqueInfo().tag }}</span>
            </li>
        </ul>
    </ng-container>
</app-inner-card>