@use '_variables.scss' as *;

.main-page-wrapper {
  &__header {
    margin-bottom: 30px;
    display: flex;
    align-items: center;

    &__title {
      font-size: 1.5rem;
      font-weight: 500;
      flex-grow: 1;
      align-self: center;
    }

    &__actions {
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }

  &__content {
    padding: unset;
  }
}