<div class="no-rows-found d-flex justify-content-center">
  @if(isLoading()) {
    <ng-container [ngTemplateOutlet]="listLoader"></ng-container>
  }@else {
    {{ 'shared.grid.noDataFound' | translate }}
  }
</div>

<ng-template #listLoader>
  <div [@inOutAnimation] class="mt-1 w-100">
    @for(item of loaderArr; track $index) {
      <div class="row mt-1 mb-1">
        <div>
          <ngx-skeleton-loader
            count="1"
            [theme]="{ 'border-radius': '5px', height: '25px' }"
          ></ngx-skeleton-loader>
        </div>
      </div>
    }
  </div>
</ng-template>
