@import '_variables.scss';

.profile-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;

    &__info {
        text-align: center;
        border-bottom: 1px solid #d5d7da;
        padding-bottom: 20px;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    &__avatar img {
        width: 64px;
        height: 64px;
        border-radius: 50%;
    }

    &__name {
        font-size: 1.2em;
        font-weight: bold;
    }

    &__role {
        font-size: 0.9em;
        color: $description-color;
    }

    &__preaching-card {
        padding: 12px;
    }
}