<div class="profile-card">
    <div class="profile-card__info">
        <div class="profile-card__avatar">
            <img src="assets/images/user.png" alt="User Avatar">
        </div>
        <div class="profile-card__details">
            <h2 class="profile-card__name">{{ user().name }}</h2>
            <p class="profile-card__role">{{ user().role }}</p>
            <button realsoft-stroked-button [size]="'small'" [routerLink]="['/main/profile']">
                {{ 'pages.dashboard.profile.viewProfile' | translate }}
            </button>
        </div>
    </div>
    <div class="profile-card__preaching-card">
        <app-preaching-card></app-preaching-card>
    </div>
</div>