@use '_variables.scss' as *;

section {
  display: flex;
  align-items: center;
  & > div {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    &:last-child {
      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 100vh;
        z-index: -1;
      }
      h4 {
        position: absolute;
        bottom: 30px;
        left: 50%;
        font-size: 14px;
        color: $white-color;
        transform: translateX(-50%);
      }
    }
  }
}

h1 {
  font-size: 25px;
  font-weight: bold;
  color: $text-color;
  margin-bottom: 12px;
}

h2 {
  font-size: 14px;
  color: $description-color;
  text-align: center;
  margin-bottom: 50px;
}

p {
  font-size: 14px;
  color: $description-color;
  margin-bottom: 5px;
}

label {
  color: $description-color;
}

realsoft-form-field {
  width: 100%;
}

form {
  width: 60%;
  margin-top: 30px;

  mat-form-field {
    width: 100%;
  }
}

article {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 26px;
  p {
    color: $link-color;
    cursor: pointer;
    margin-bottom: 0;
  }
}

img {
  width: 50%;
}

realsoft-checkbox {
  margin-inline-start: -10px;
}

@media only screen and (max-width: 1023px) {
  section {
    & > div {
      &:last-child {
        display: none;
      }
    }
  }
}

.logo-container {
  padding-inline: 32px;
  position: absolute;
  top: 32px;
}
